.card {
  background-color: var(--color-bg);
  border-radius: var(--rounded-xl);
  border-width: var(--border);
  padding: var(--size-6);
  box-shadow: var(--shadow-sm);
}

@media (max-width: 48rem) {
  .card {
    padding: var(--size-4);
    margin: var(--size-2) 0;
  }
}

.card-selectable {
  background-color: var(--color-bg);
  border-radius: var(--rounded-xl);
  border-width: var(--border);
  padding: var(--size-3);

  &:has(:checked) {
    background-color: var(--color-secondary);
    border-color: var(--color-primary);
  }
}
