<div id="<%= dom_id montly_distance %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Month:</h4>
    <p class="leading-none"><%= montly_distance.month %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Distance:</h4>
    <p class="leading-none"><%= montly_distance.distance %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Shoes:</h4>
    <p class="leading-none"><%= montly_distance.shoes_id %></p>
  </div>
</div>
