<% content_for :title, "Editing montly distance" %>

<h1 class="font-bold text-4xl mbe-4">Editing montly distance</h1>

<%= render "form", montly_distance: @montly_distance %>

<div class="inline-flex flex-wrap items-center gap mbs-2" style="--row-gap: .5rem">
  <%= link_to "Back to #{@shoes.full_name}", @shoes, class: "btn" %>
  <%= button_to "Destroy", [@shoes, @montly_distance], method: :delete, class: "btn", data: { turbo_confirm: "Are you sure?" } %>
</div>
