<% content_for :title, "Add montly distance" %>

<h1 class="font-bold text-4xl mbe-4">Add montly distance for <%= @montly_distance.shoes.full_name %></h1>

<%= render "form", montly_distance: @montly_distance %>
