<% content_for :title, "Stats" %>

<div class="flex items-center justify-between mbe-4">
  <h1 class="font-bold text-4xl page-title">Stats</h1>
</div>

<div class="stats-cards">
  <%= render "stats/cards/personal_bests" %>
  <%= render "stats/cards/estimated_paces" %>
  <%= render "stats/cards/shoes" %>
</div>

